@model _50DersMvc.Models.Entity.tbl_Müsteriler
@{
                

                ViewBag.Title = "GüncelleSayfa";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Güncelle Sayfa</h2>

@using (Html.BeginForm("Güncelle", "Müşteri", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(m => m.müsteriID)
        @Html.TextBoxFor(m => m.müsteriID, new { @class = "form-control" , @readonly = "readonly" ,@style = "pointer-events: none; background-color: #f2f2f2; "})

        @Html.LabelFor(m => m.müsteriAD)
        @Html.TextBoxFor(m => m.müsteriAD, new { @class = "form-control" })

        @Html.LabelFor(m => m.müsteriSOYAD)
        @Html.TextBoxFor(m => m.müsteriSOYAD, new { @class = "form-control" })

    </div>

    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}


